<app-header titulo="Progress Bar"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-progress-bar [value]="porcentaje"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-range (ionChange)="cambioRango($event)"
                 min="1"
                 max="100"
                 value="50"
                 pin="true"
                 mode="md"
                 color="primary">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <h2>Segundo Progress Bar</h2>
  <ion-progress-bar color="danger" [value]="porcentajeDin/10"></ion-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="3" class="ion-text-center ion-margin-top">
        <ion-avatar (click)="cambioDin(-1)">
          <ion-icon name="remove-circle-outline" size="large" color="primary"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col size="2" class="ion-text-center ion-margin-top">
        <h3>{{porcentajeDin}}</h3>
      </ion-col>
      <ion-col size="2" class="ion-text-start ion-margin-top">
        <ion-avatar (click)="cambioDin(+1)">
          <ion-icon name="add-circle-outline" size="large"
                    color="primary"></ion-icon>
        </ion-avatar>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>Elementos</ion-list-header>
    <ion-item *ngFor="let item of dinamic;let i = index">
      Item {{i+1}}
    </ion-item>
  </ion-list>

  <h4>Barra infinita</h4>
  <ion-progress-bar color="success" type="indeterminate"></ion-progress-bar>

</ion-content>
