<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Grid y Buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="warning">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-menu-button color="danger" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" size="small">Small</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" size="medium">Medium</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large">Large</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button routerLink="/alert" color="primary" fill="clear">
          Alert
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/action-sheet" fill="solid"
                    color="secondary">A-Sheet
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/" color="tertiary" fill="outline">
          Inicio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col *ngFor="let c of Array.from(Array(12))"
               size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta eos expedita hic id ipsa ipsam
            laudantium minima nobis optio placeat, quibusdam quisquam, reiciendis tempora temporibus unde vel veniam
            voluptates.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
