<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="danger">
      Mi App
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="primerMenu" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
<ion-list>
  <ion-list-header color="danger">Mis componentes</ion-list-header>
  <ion-item *ngFor="let componente of componentes"
  [routerLink]="componente.ruta">
    <ion-icon slot="start" [name]="componente.icono"></ion-icon>
    <ion-label>{{componente.nombre}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
