<app-header titulo="Cards"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card mode="ios" color="secondary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab architecto asperiores, cupiditate deserunt incidunt,
      iure laudantium libero, provident quos repellendus rerum
      saepe similique velit? Dicta ipsam, quod? Cumque, ea, nesciunt.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-title>Título</ion-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Adipisci aperiam asperiores beatae eos iste itaque laborum
      nam nulla, odit quae ratione recusandae tempora vero! Eum
      officia provident quaerat quod unde?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" color="light" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus aliquam blanditiis consequuntur cum cupiditate et
      harum in inventore ipsam ipsum iste itaque natus obcaecati
      quibusdam quo rerum saepe sint, sunt.
    </ion-card-content>
  </ion-card>
</ion-content>
