<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Datetime</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="selectedMode" scrollable="true">
      <ion-segment-button [value]="mode" *ngFor="let mode of modes">
        <ion-label>{{mode}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item id="open-modal">
    <ion-label>Date</ion-label>
    <ion-text slot="end">
      {{formattedString}}
    </ion-text>
  </ion-item>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime
          #datetime
          [presentation]="selectedMode"
          size="cover"
          first-day-of-week="1"
          (ionChange)="dateChange(datetime.value)"
          showDefaultButtons="true"
          [value]="dateValue"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
